.typewriter {
  height: min-content;
  h1 {
      overflow: hidden;
      width: 50%;
      border-right: .15em solid rgb(122, 122, 118); 
      white-space: nowrap; 
      margin: 0; 
      margin-left: 5%;
      margin-top: 2%;
      
      letter-spacing: .07em; 
      animation: 
        typing 2s steps(12, end),
        blink-cursor 1.2s step-end infinite;
    }
}

  @keyframes typing {
    from { width: 0 }
    to { width: 45% }
  }
  
  
  @keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: rgb(122, 122, 118); }
  }
