@import "~bootstrap/scss/bootstrap";
@import "animations.scss";
@import "variables.scss";


@font-face {
    font-family: 'LeagueSpartan';
    src: local('LeagueSpartan'), url('../public/LeagueSpartan-Bold.otf') format('opentype');
  }

  body {
    color: white;
    font-family: "LeagueSpartan";

  }

.App {
    text-align: center;
    height: inherit;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1;
}

#mainBody {
    grid-row: 2;
    background-color: $dark-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    width: 100%;
}


.nav-bar {
    grid-row: 1;
    padding: 30%;
    float: left;
    resize: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 95% 5%;
    background-color: $light-grey;
    align-items: center;
    min-height: 75px;
    height: 10%;
}

.nav-item {
    // font-family: "LeagueSpartan";
    font-size: larger;
    cursor: pointer;
    color: $font-grey;
    grid-row: 1;
    transition: $hover-fade-time;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    grid-column: 1;
    fill: $font-grey;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
}

#indicator {
    border: 0;
    opacity: 100%;
    width: 10%;
    background-color: $font-grey;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    transition: calc($hover-fade-time);

  }

.greeting {
    // float: none;
    text-align: center;
    margin-top: 20%;
    margin-left: 10%;
    // margin-left: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    font-size: 270%;
    color: $font-dark-grey;
}

#endingGreeting{
    transition: opacity calc($greeting-fade-time / 2);
    text-align: left;
}

#beginingGreeting{
    transition: opacity calc($greeting-fade-time / 2);
    text-align: right;
}

.intro-p {
    grid-row: 4;
    grid-column: 3;
    margin-right: 10%;
}
