// @import "~bootstrap/scss/bootstrap";
@import "animations.scss";
@import "variables.scss";


@font-face {
    font-family: 'LeagueSpartan';
    src: local('LeagueSpartan'), url('../public/LeagueSpartan-Bold.otf') format('opentype');
  }

  body {
    color: white;
    font-family: "LeagueSpartan";
    font-size: calc(11px + $small-font);

  }

.App {
    text-align: center;
    height: inherit;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1;
}

#mainBody {
    grid-row: 2;
    background-color: $dark-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}


.nav-bar {
    height: 75px;
    padding: 0;
    grid-row: 1;
    // padding: 30%;
    float: left;
    resize: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px 5px;
    background-color: $light-grey;
    // margin: 0;
    align-items: center;
    justify-content: center;
    // min-height: 75px;
    // min-height: 10vh;
    // height: 10vh;
}

.nav-item {
    font-size: $medium-font;
    cursor: pointer;
    color: $font-grey;
    grid-row: 1;
    transition: $hover-fade-time;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}


.logo {
    grid-column: 1;
    fill: $font-grey;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#indicator {
    border: 0;
    opacity: 100%;
    width: 10%;
    background-color: $font-grey;
    height: 3px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    transition: calc($hover-fade-time);
    margin-bottom: 50px;

  }

.greeting {
    // float: none;
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
    // margin-left: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    // font-size: 270%;
    font-size: $large-font;
    color: $font-dark-grey;
}

#endingGreeting{
    transition: opacity calc($greeting-fade-time / 2);
    text-align: left;
}

#beginingGreeting{
    transition: opacity calc($greeting-fade-time / 2);
    text-align: right;
}

.intro-p {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 50%;
    // text-align: center;
    margin-left: 25%;
}

footer {
    background-color: $light-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8fr 2fr;
    height: 150px;
}
