// @import "~bootstrap/scss/bootstrap";
@import "animations.scss";
@import "variables.scss";

.App {
    text-align: center;
    height: inherit;
    display: grid;
    grid-template-rows: 75px max-content 75px;
    grid-template-columns: 1;
    overflow-y: scroll;
    overflow-x: scroll;
}

h1 {
    font-size: $large-font;
}

h2 {
    font-size: $medium-font;
}

#scroll-button {
    transition: $hover-fade-time;
    opacity: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 2%;
    margin-right: 2%;
    fill: $font-grey;
    width: 3%;
    border: none;
    &:hover{
        fill: white;
    }
}

.nav-bar {
    height: 75px;
    padding: 0;
    grid-row: 1;
    float: left;
    resize: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75px;
    background-color: $light-grey;
    align-items: center;
    justify-content: center;
    
    .nav-item {
        transition: $hover-fade-time;
        font-size: $item-font;
        color: $font-grey;
        // grid-row: 1;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
    
    .logo {
        grid-column: 1;
        fill: $font-grey;
        // grid-row: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

#mainBody {
    grid-row: 2;
    background-color: $dark-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(8, 1fr);
    width: 100vw;
    .about {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: span 3;
        display: grid;
        grid-template-columns: inherit;
        grid-template-rows: 2;
        margin-bottom: 10%;

        .greeting {
            text-align: center;
            margin-top: 125px;
            margin-left: 0%;
            margin-left: 0%;
    
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 1fr 0.55fr 1fr;
            // font-size: $large-font;
            color: $font-dark-grey;
            white-space: nowrap;
            height: fit-content;
        
            #endingGreeting{
                transition: opacity calc($greeting-fade-time / 2);
                text-align: left;
            }
            
            #beginingGreeting{
                transition: opacity calc($greeting-fade-time / 2);
                text-align: right;
                // min-width: max-content;
            }
        }
    
        .intro-p {
            grid-row: 2;
            grid-column: 2;
            // grid-column-start: 2;
            // grid-column-end: 4;
            font-size: $small-font;
            width: 50%;
            margin-top: 10%;
            width: 100%;
            // margin-left: 25%;
        }
    }

    .experience {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;

        display: grid;
        grid-template-columns: 3;
        grid-template-rows: min-content min-content min-content;
        margin: 0% 5% 0% 5%;
    }
}

footer {
    align-items: center;
    justify-items: center;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: $light-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px;

    .contact-info {
        grid-column: 2;
    
        .contact-logos {
            transition: $hover-fade-time;
            fill: $font-grey;
            margin-top: 10px;
            margin-left: 30px;
            height: 65px;
            width: 65px;

            &:hover {
                fill: white;
            }
            
        }
    }
}
