@import "variables.scss";


h1 {
    font-size: $large-font;
}

h2 {
    font-size: $medium-font;
}

h3 {
    font-size: $medium-small-font;
}

h4 {
    font-size: $small-medium-font;
}


p {
    font-size: $smaller-font;
    line-height: 105%;
}
li {
    font-size: $smaller-font;

}


.fade {
    opacity: 0 !important;
}

.clickable {
    cursor: pointer;
}


.hide {
    visibility: hidden !important;
}
