//fades
$hover-fade-time: 0.7s;
$greeting-fade-time: 5s;

// font colours
$font-grey: rgb(175, 175, 175);
$font-dark-grey:  rgb(81, 81, 81);
// font sizes
$medium-font: 1.25vw;
$large-font: 3vw;
$small-font: 1vw;

// general
$dark-grey: rgb(31, 31, 31);
$light-grey: rgba(41, 41, 41, 1);
