//fades
$hover-fade-time: 0.7s;
$greeting-fade-time: 5s;

// font colours
$font-grey: rgb(175, 175, 175);
$font-dark-grey:  rgb(81, 81, 81);
// font sizes
$large-font: calc(11px + 2.8vw);
$medium-font: calc(11px + 2.2vw);
$small-font: calc(11px + 0.5vw);
$item-font: 1.25vw;

// general
$dark-grey: rgb(31, 31, 31);
$light-grey: rgba(41, 41, 41, 1);
